# Weaviate
WEAVIATE_URL=https://lnns5hprp2a0topsvna.c0.asia-southeast1.gcp.weaviate.cloud
WEAVIATE_API_KEY=
WEAVIATE_COLLECTION=HistoryCollections2
WEAVIATE_CLUSTERS_COLLECTION=DocumentSummariesTest1
WEAVIATE_HYBRID_ALPHA=0.65

# OpenAI
OPENAI_API_KEY=
OPENAI_CHAT_MODEL=gpt-5.2
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_FOLLOWUP_MODEL=gpt-5.2

# App
NEXT_PUBLIC_API_URL=http://localhost:3000
