# Weaviate
NEXT_PUBLIC_WEAVIATE_URL=http://localhost:8080
WEAVIATE_API_KEY=
WEAVIATE_COLLECTION=TEST2
WEAVIATE_HYBRID_ALPHA=0.65

# OpenAI
OPENAI_API_KEY=
OPENAI_CHAT_MODEL=gpt-5.2
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
OPENAI_FOLLOWUP_MODEL=gpt-5.2

# App
NEXT_PUBLIC_API_URL=http://localhost:3000
